
/* gallery styles start */
@import url("https://fonts.googleapis.com/css2?family=Satisfy&display=swap");
.gallery{
  background-image: url("../Images/background.jpg");
  font-family:Satisfy
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main{
  margin-left: 20%;
  margin-top: 5%;
}
.show1,.show2,.show3,.show4,.show5,.show6,.show7,.show8,.show9,.show10{
  display: none;
}
h2{
  color: white;
}
.row img{
  height: 75%;
  width: 95%;
}
.col-md-3{
  border-radius: 5%;
}
 h5{
  color: black;
}
 .col-md-3 img{
  width: 100%;
  height: 225px;
}
.carousel-inner > .item {
  position: relative;
  display: none;
  -webkit-transition: 0.6s ease-in-out left;
  -moz-transition: 0.6s ease-in-out left;
  -o-transition: 0.6s ease-in-out left;
  transition: 0.6s ease-in-out left;
}
/* gallery ends */

/* -------=====Checkout Starts=======-------- */
.text-center{
    font-family: Satisfy;
    font-size: 32px;
}
.choice{
  display: none;
  color: #ffffff;
}
.btn{
  background-color: #ffffff;
}
th,td{
  color: #ffffff;
}
.delivery{
  display: none;
}
.checkout{
    background-image: url(../Images/background.jpg);
    color: #ffffff;
    background-repeat: no-repeat;
    background-size: cover;
}
.form-checkout{
    background-color: #041E2D;
    background-size: cover;
}
.float-container {
    border: 3px;
    padding: 20px;
}

.float-child {
    width: 50%;
    float: left;
    padding: 20px;
    border: 2px ;
}
ul{
	list-style: none;
}
a{
	text-decoration:none;
}
.heading-checkout{
	text-align: center;
	font-family: myriad pro;
	letter-spacing: 1px;
	width:100%;
	height: 200px;
	background-color: #032F32;
	display: flex;
	border-radius: 5px 5px 0px 0px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-shadow:inset 2px 2px 100px rgba(0,0,0,0.2); 
}
.heading-checkout p:nth-child(1){
	font-weight: bold;
	color: #ffffff;
	font-size: 26px;
}
.heading-checkout p:nth-child(2){
	font-size:12px;
	color: #E9E9E9;
	font-family: calibri;
}
.heading-checkout p{
	line-height:10px;
	margin: 10px;
}
.input-container{
	display: flex;
	height: 100px;
	width: 350px;
	justify-content:space-around;
	align-items: center;
	background-color:#041E2D;
	border-radius:50px;
	box-shadow: 1px 2px 12px rgba(0,0,0,0.2);
	box-sizing: border-box;
	margin-top: -15%;
}
.p-icon{
	width:70px;
	height: 70px;
	border-radius: 50%;
	background-color:#373e46;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 20px;
}
.p-icon img{
	height: 30px;
}
.user-inputs{
	display: flex;
	flex-direction: column;
}
.user-inputs input{
	width:140px;
	height: 25px;
	font-family: calibri;
	border: none;
	outline: none;
	margin: 3px;
	background-color: #032F32;
	color: #FFFFFF;
	padding:5px;
	animation: animation-1 ease 7s;
}
.user-inputs input::placeholder{
	color: #ffffff;
}
.check-box {
	display: flex;
	justify-content:center;
	align-items: center;
	font-family: myriad pro;
	font-size: 12px;
}
.check-box p{
	color: #e0e0e0;
}
.login{
	width:140px;
	height: 40px;
	border:none;
	outline: none;
	background-color: #041E2D;
	color: #ffffff;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 16px;
	box-shadow: 1px 1px 12px rgba(0,0,0,0.2);
	border-radius:20px;
}
.forget{
	font-family: myriad pro;
	font-size: 12px;
	color:#9e9fa0;
}
.social {
	display: flex;
	justify-content: center;
	padding: 0px;
}
.social  li a{
	width: 40px;
	height: 40px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 5px;
	box-shadow: 1px 2px 12px rgba(0,0,0,0.2);
	border-radius:5px;
}
.social li a i{
color:#FFFFFF;
font-size: 14px;
}
.social li a:hover{
	background-color: #032F32;
	transition:linear 0.5s;
}

button:active{
	transform: scale(1.1);
}
.input-container input:focus{
	background-color: transparent;
	border-bottom: 1px solid #032F32;
	transition: all ease 0.5s;
}
.check-box,.login,.forget{
	margin: 10px ;
}


/* -------=====Checkout ends=======-------- */
/*----landing page begins----*/
.landing {
    background: url("../Images/background.jpg");
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    -webkit-transition: 0.7s ease-in;
    transition: 0.4s ease-in;
     padding: 0;
    margin-bottom: 0;
    margin-top: -50px;
    color:#ffffff;
    /* transition properties and type. */
}



.nav-logo {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: black;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    float: right;
    font-size: 20px;
}

.nav-logo1 {
    font-family: 'Satisfy', cursive;
    font-weight: bold;
    color: white;
    text-shadow: 4px 4px 3px rgba(0, 0, 0, 0.1);
    float: center;
    font-size: 30px;
}
/* .body1 {
    background: url("/Images/");
    background-repeat: no-repeat;
    background-size: cover;
    color: black;
    object-fit: cover;
    background-size: cover;
     padding: 0;
    margin-top: -17px;
    margin-bottom: -12px;
} */

.intro {
    width: 50%;
    margin-left: 20%;
    margin-right: 50%;
    text-align: center;
    font-family: 'Satisfy', cursive;
    font-size: 80px;
    text-decoration-line: underline;
    text-decoration-line: underline;
    text-decoration-line: underline;
    padding-top: 0;
    padding-bottom: 0;
		margin-top: -6%;
}

.quote {
    font-family: 'Satisfy', cursive;
    text-align: right;
    font-size: 25px;
    margin-left: 10%;
    margin-right: 20%;
    /* padding-bottom: 5%; */
    padding-top: 0;
		margin-top: 0;
}

.footer {
    text-align: center;
    font-weight: bold;
}


/* Menu Appearance */

.pushy {
    font-family: 'Satisfy', cursive;
    position: fixed;
    font-size: 30px;
    width: 300px;
    height: 100%;
    top: 0;
    z-index: 9999;
    background-color: black;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    /* enables momentum scrolling in iOS overflow elements */
}

.pushy a {
    display: block;
    color: #b3b3b1;
    padding: 15px 30px;
    text-decoration: none;
}

.pushy a:hover {
    color: #FFF;
}

.pushy ul:first-child {
    margin-top: 10px;
}

.pushy.pushy-left {
    left: 0;
}

.pushy.pushy-right {
    right: 0;
}

.pushy-content {
    visibility: hidden;
}


/* Menu Movement */

.pushy-left {
    transform: translate3d(-300px, 0, 0);
}

.pushy-open-left #container,
.pushy-open-left .push {
    transform: translate3d(300px, 0, 0);
}

.pushy-right {
    transform: translate3d(300px, 0, 0);
}


/*.pushy-open-right #container,*/

.pushy-open-right .push {
    transform: translate3d(-300px, 0, 0);
}

.pushy-open-left .pushy,
.pushy-open-right .pushy {
    transform: translate3d(0, 0, 0);
}

.pushy-open-left .pushy-content,
.pushy-open-right .pushy-content {
    visibility: visible;
}


/* Menu Transitions */

#container,
.pushy,
.push {
    transition: transform 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}

.pushy-content {
    transition: visibility 0.2s cubic-bezier(0.16, 0.68, 0.43, 0.99);
}


/* Site Overlay */

.site-overlay {
    display: none;
}

.pushy-open-left .site-overlay,
.pushy-open-right .site-overlay {
    display: block;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 9998;
    background-color: rgba(0, 0, 0, 0.5);
    animation: fade 500ms;
}

@keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 0.8;
    }
}

@-webkit-keyframes fade {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Submenu Appearance */

.pushy-submenu{
    /* Submenu Buttons */
    /* Submenu Icon */
}

.pushy-submenu ul {
    padding-left: 15px;
    transition: max-height 0.2s ease-in-out, visibility 0.2s ease-in-out;
}

.pushy-submenu ul .pushy-link {
    transition: opacity 0.2s ease-in-out;
}

.pushy-submenu button {
    width: 100%;
    color: white;
    padding: 15px 30px;
    text-align: left;
    background: transparent;
    border: 0;
}

.pushy-submenu button:hover {
    color: #FFF;
}

.pushy-submenu>a,
.pushy-submenu>button {
    position: relative;
}

.pushy-submenu>a::after,
.pushy-submenu>button::after {
    content: '';
    display: block;
    height: 11px;
    width: 8px;
    position: absolute;
    top: 50%;
    right: 15px;
    transform: translateY(-50%);
    transition: transform 0.2s;
}


/* Submenu Movement */

.pushy-submenu-closed ul {
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
}

.pushy-submenu-closed .pushy-link {
    opacity: 0;
}

.pushy-submenu-open ul {
    max-height: 1000px;
    visibility: visible;
}

.pushy-submenu-open .pushy-link {
    opacity: 0.8;
}

.pushy-submenu-open a::after,
.pushy-submenu-open button::after {
    transform: translateY(-50%) rotate(90deg);
}


/* Menu Button */

.menu-btn-wrapper {
    position: relative;
    z-index: 10000000
}

.menu-btn {
    padding: 10px;
    background-image: url("/images/background.jpg");
    text-align: center;
    cursor: pointer;
    border: 0px;
    z-index: 100000;
    position: relative
}

.hamburger .line1 {
    width: 50px;
    height: 5px;
    background-color: #410B0B;
    ;
    display: block;
    margin: 8px auto;
    transition: all 0.5s ease-in-out;
}

.hamburger .line {
    width: 50px;
    height: 5px;
    background-color: white;
    display: block;
    margin: 8px auto;
    transition: all 0.5s ease-in-out;
}

.hamburger:hover {
    cursor: pointer;
}

.hamburger .menu {
    float: left;
}

.pushy-open-right #hamburger .line:nth-child(2) {
    opacity: 0.7;
}

.pushy-open-right #hamburger .line1:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.pushy-open-right #hamburger .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}

.pushy-open-right .site-overlay .line:nth-child(2) {
    opacity: 0;
}

.pushy-open-right .site-overlay .line:nth-child(1) {
    transform: translateY(13px) rotate(45deg);
}

.pushy-open-right .site-overlay .line:nth-child(3) {
    transform: translateY(-13px) rotate(-45deg);
}
/*---landingpageends---*/
/*---about page starts---*/
.about {
    background-color: #0D0C0C;
    background-size: cover;
		overflow-x: hidden;
}

.bookshelf {
    position: absolute;
    width: 178px;
    height: 69px;
    top: 20px;
    left: 1105px;
    font-family: 'Satisfy';
    font-style: normal;
    font-weight: normal;
    font-size: 48px;
    line-height: 69px;
}

.about-nav {
    cursor: pointer;
}

.rectangle {
    display: block;
    width: 40px;
    padding-top: 25px;
    margin-left: 15px;
}

.rectangle2 {
    display: block;
    margin-top: 5px;
    width: 40px;
    margin-left: 15px;
}

.about-heading {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
    line-height: 0px;
    text-align: center;
}

.about-paragraph {
    color: #FFFFFF;
    font-family: 'Poppins';
    font-weight: 500;
    font-size: 25px;
    text-align: center;
    margin: 0px;
}

.row {
    justify-content: space-around;
    display: flex;
    margin-top: 50px;
}
/*---about page ends---*/
