body{
  background-image: url("./Images/photo_2021-08-02_16-37-20.jpg");
  height: 90vh;
}
.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}
.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}
.sidenav a:hover {
  color: #f1f1f1;
}
.main{
  margin-left: 20%;
  margin-top: 5%;
}
.show{
  display: none;
}
*{
  color: white;
}
.row img{
  height: 75%;
  width: 95%;
}